#background-login {
    background: linear-gradient(to top, transparent, #ffffff),
    url("img/background_landscape.jpg");
}

#login-grid {
    height: 30rem;
}

#login-window {
    margin-top: 8rem;
    opacity: 0.8;
}

#login-grid ion-row {
    height: 50%;
}

ion-icon {
    color:#3C783C;
  }

  #position {
      margin-top: 12rem;
  }

#profilepic {
    height: 96px;
    width: 96px;
}

:root {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-tab-bar-background: var(--ion-color-light);
    --ion-tab-bar-color-selected: var(--ion-color-secondary);
    --ion-toolbar-color: var(--ion-color-secondary-contrast);
}

  ion-button {
  --background: var(--ion-color-secondary);
  --selected: var(--ion-color-primary);
}

